API_GATEWAY_PORT=3100
FRONTEND_ORIGIN=http://localhost:5173
CATALOGUE_GRAPHQL_URL=http://localhost:4200/graphql
PRODUCT_SERVICE_URL=http://localhost:4100
CATALOGUE_SERVICE_URL=http://localhost:4200
USER_SERVICE_URL=http://localhost:4300
PURCHASE_SERVICE_URL=http://localhost:4400