API_GATEWAY_PORT=3100
FRONTEND_ORIGIN=http://localhost:5173
PRODUCT_VIEW_SERVICE_URL=http://localhost:8080
CATALOGUE_SERVICE_URL=http://localhost:4200
USER_SERVICE_URL=http://localhost:4300
PURCHASE_SERVICE_URL=http://localhost:4400